.form {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.form label{
  display: flex;
  flex-direction: column;
}

.form input {
  width: 90%;
  margin-bottom: 1em;
  margin-right: 2em;
}