.form {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.form label{
  display: flex;
  flex-direction: column;
}

.form input {
  width: 90%;
  margin-bottom: .7em;
  margin-right: 2em;
  padding: .5em;
  border: 1px solid grey;
  border-radius: 0.2em;
}

.buttonsParent{
  margin-top: 1em;
}

.buttonsParent > button:first-child {
  margin-right: 2em;
}